# ignored directories 

images/ 
data/
paper/
canvas_data/
private/

# files that contain sensitive data
# account ids
db/**/course_meta_table.sql 
db/queries.py
union_submissions.sql

hyperparameter_plot.py


# misc
.vscode
__pycache__